body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f54b0391;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

.textoTarefa {
    font-size: 14pt;
}

a {
    font-size: 10pt;
    color: #E57373;
    text-decoration: none;
    margin-left: 5px;
}

.riscado {
    text-decoration: line-through;
    color: grey;
}

.app {
    height: 600px;
    width: 421px;
    max-height: 80vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 90px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.314);
}

.inputTarefa {
    width: 45%;
    margin: 30px;
    border-radius: 4px;
    background-color: #E0E0E0;
}

.lista {
    border-radius: 15px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.109);
    margin-bottom: 20px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botao {
    background-color: #E0E0E0;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 50px;
}

.check {
    margin-right: 7px;
}

.horas {
    margin-bottom: 50px;
    color: white;
    font-size: 20pt;
}

@media (max-width : 600px) {
    .app {
        width: 60%;
    }

    .inputTarefa {
        width: 65%;
    }
}

li {
    background-color: rgba(245, 226, 226, 0.933);
    border-radius: 8px;
}